[submodule "discuzx/lib"]
	path = discuzx/lib
	url = git@github.com:webim/webim-php.git
[submodule "discuz/lib"]
	path = discuz/lib
	url = git@github.com:webim/webim-php.git
[submodule "phpwind/lib"]
	path = phpwind/lib
	url = git@github.com:webim/webim-php.git
