[submodule "wordpress/lib"]
	path = wordpress/lib
	url = git@github.com:webim/webim-php.git
[submodule "thinksns"]
	path = thinksns
	url = git://github.com/webim/webim-plugin-thinksns.git
[submodule "jishigou"]
	path = jishigou
	url = git://github.com/webim/webim-plugin-jishigou.git
[submodule "discuzx"]
	path = discuzx
	url = git@github.com:webim/webim-plugin-discuzx.git
[submodule "discuz"]
	path = discuz
	url = git@github.com:webim/webim-plugin-discuz.git
[submodule "phpwind"]
	path = phpwind
	url = git@github.com:webim/webim-plugin-phpwind.git
[submodule "uchome"]
	path = uchome
	url = git@github.com:webim/webim-plugin-uchome.git
[submodule "phpwind9"]
	path = phpwind9
	url = git@github.com:webim/webim-plugin-phpwind9.git
