[submodule "discuzx/lib"]
	path = discuzx/lib
	url = git@github.com:webim/webim-php.git
[submodule "discuz/lib"]
	path = discuz/lib
	url = git@github.com:webim/webim-php.git
[submodule "phpwind/lib"]
	path = phpwind/lib
	url = git@github.com:webim/webim-php.git
[submodule "uchome/lib"]
	path = uchome/lib
	url = git@github.com:webim/webim-php.git
[submodule "wordpress/lib"]
	path = wordpress/lib
	url = git@github.com:webim/webim-php.git
[submodule "thinksns"]
	path = thinksns
	url = git://github.com/webim/webim-plugin-thinksns.git
[submodule "jishigou"]
	path = jishigou
	url = git://github.com/webim/webim-plugin-jishigou.git
